<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
	bootstrap="bootstrap.php"
	colors="true"
	>

	<testsuite name="Test Suite">
		<directory>./tests/</directory>
	</testsuite>

	<logging>
        <log type="coverage-html" target="./public_html/converge/" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80"/>
    </logging>
	
	<filter>
		<whitelist>
            <directory>./public_html/models</directory>
            <exclude>
                <directory>./public_html/models/messageForm.php</directory>
            </exclude>
        </whitelist>
	</filter>
</phpunit>