<form class="alm-elem-form" method="POST">
	<div class="alm-elem-input form-group" style="left: 20px;top: 10px;">
		<label>
			<input type="email" class="form-control" placeholder="E-mail"></input>
		</label>
	</div>
	<div class="alm-elem-input form-group" style="left: 20px;top: 69px;">
		<label>
			<input type="text" class="form-control" placeholder="Text"></input>
		</label>
	</div>
	<div class="alm-elem-input form-group" style="left: 20px;top: 128px;">
		<label>
			<input type="button" class="form-control" value="Отправить"></input>
		</label>
	</div>
</form>